---
const { panels } = Astro.props;

import Contents from "./panels/contents.astro";
import Posts from "./panels/posts.astro";
import Search from "./panels/search.astro";
import Setting from "./panels/setting.astro";
---

{
  panels.map((panel: any) => {
    return (
      <div class={`${panel.state} panel p-4`} id={panel.name}>
        {() => {
          switch (panel.type) {
            case "posts":
              return <Posts {panel} />;
            case "contents":
              return <Contents {panel} />;
            case "setting":
              return <Setting {panel} />;
            case "search":
              return <Search {panel} />;
            default:
              break;
          }
        }}
      </div>
    );
  })
}

<style>
  .panel {
    top: 0;
    height: 100dvh;
    flex-grow: 1;
    display: none;
    background-color: var(--color-gray-50);
    width: 420px;
    max-width: 30dvw;
    z-index: 100;
    overflow-y: scroll;
  }
  @media (min-width: 769px) {
    .is-panel-active {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .panel {
      position: fixed;
      left: 56px;
      width: calc(100% - 56px);
    }

    .is-panel-active {
      display: block;
    }
  }
</style>
