---
import { Icon } from "astro-icon/components";
import BaseLayout from "./BaseLayout.astro";
type Post = {
  data: {
    title: string;
    pubDate: string;
    updDate: string;
    category: {
      name: string;
      slug: string;
    };
    tags: [
      {
        name: string;
        slug: string;
      },
    ];
  };
  id: string;
  collection: string;
};
const Date_Conversion = (date: string) => {
  return new Date(date).toLocaleDateString("ja-JP", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
  });
};

const { posts, panels, page, title, icon } = Astro.props;
---

<BaseLayout panels={panels}>
  <section class="article-list" data-pagefind-ignore>
    <h1 class="icon-text">
      {icon && <Icon name={icon} />}{title}
    </h1>
    <p class="subtitle">{page.currentPage}ページ目</p>
    <ul class="posts-list flex column gap-8 py-8">
      {
        posts.map((post: Post) => (
          <li class="post-card p-2">
            <a
              href={
                "/" +
                post?.collection +
                "/" +
                post?.data?.category?.slug +
                "/" +
                post?.id
              }
            >
              <h2>{post?.data?.title}</h2>
              <ul class="post-info flex wrap gap-4 pt-6">
                <li>
                  <p class="icon-text">
                    <Icon name="mdi:clock-time-four-outline" />
                    <time> {Date_Conversion(post?.data?.pubDate)}</time>
                  </p>
                </li>

                {post?.data?.updDate && (
                  <li>
                    <p class="icon-text">
                      <Icon name="mdi:update" />
                      <time> {Date_Conversion(post?.data?.updDate)}</time>
                    </p>
                  </li>
                )}

                <li>
                  <p class="icon-text">
                    <Icon name="mdi:folder-outline" />
                    {post?.data.category.name}
                  </p>
                </li>

                {post?.data?.tags.map(
                  ({ name, slug }: { name: string; slug: string }) => {
                    return (
                      <li>
                        <p class="icon-text">
                          <Icon name="mdi:hashtag" />
                          {name}
                        </p>
                      </li>
                    );
                  },
                )}
              </ul>
            </a>
          </li>
        ))
      }
    </ul>
    <div class="flex-center pagination gap-4">
      {page?.url?.first ? <a href={page?.url?.first}>最初</a> : null}
      {page?.url?.prev ? <a href={page?.url?.prev}>前へ</a> : null}
      {page?.url?.next ? <a href={page?.url?.next}>次へ</a> : null}
      {page?.url?.last ? <a href={page?.url?.last}>最後</a> : null}
    </div>
  </section>
</BaseLayout>

<style>
  .post-card {
    background-color: var(--color-background);
    border: var(--color-gray-150) 3px solid;
  }

  .post-card:hover {
    border: var(--color-secondary-hover) 3px solid;
    background-color: var(--color-gray-50);
  }

  .post-card h2 {
  }

  .post-info li > p {
    line-height: 1.5;
    padding: var(--spacing-1);
    font-weight: bold;
    color: var(--color-gray-700);
  }

  .article-list {
    max-width: 768px;
    padding: var(--spacing-2);
    margin: var(--spacing-4) auto;
  }

  .pagination a {
    padding: var(--spacing-4) var(--spacing-8);
    background-color: var(--color-background);
    border-radius: var(--border-radius-3);
  }

  h1 {
    font-size: 2.25rem;
    width: 100%;
    border-bottom: var(--color-gray-300) solid 2px;
    padding: var(--spacing-2) var(--spacing-2);
  }

  .subtitle {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-gray-800);
    padding: var(--spacing-2) var(--spacing-4);
  }
</style>
