---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import "../styles/article.css";

const Date_Conversion = (date: string) => {
  return new Date(date).toLocaleDateString("ja-JP", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
  });
};

const { title, pubDate, updDate, image, panels, tags, category, collection } =
  Astro.props;
const { url, alt } = image;
---

<BaseLayout panels={panels}>
  <article>
    <div class="article-head">
      <img src={url} alt={alt} width="1024" height="512" />
      <div class="flex-center column px-2 py-8 gap-8">
        <h1 class="py-8">{title}</h1>
        <ul class="flex-center wrap gap-4">
          <li>
            <p class="icon-text">
              <Icon name="mdi:clock-time-four-outline" />
              <time> {Date_Conversion(pubDate)}</time>
            </p>
          </li>
          {
            updDate && (
              <li>
                <p class="icon-text">
                  <Icon name="mdi:update" />
                  <time> {Date_Conversion(updDate)}</time>
                </p>
              </li>
            )
          }
          <li>
            <a href={"/" + collection + "/" + category?.slug} class="icon-text"
              ><Icon name="mdi:folder-outline" />{category.name}</a
            >
          </li>
        </ul>
        <ul class="flex-center wrap gap-4">
          {
            tags.map(({ name, slug }: { name: string; slug: string }) => {
              return (
                <li>
                  <a href={"/" + collection + "/tag/" + slug} class="icon-text">
                    <Icon name="mdi:hashtag" />
                    {name}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
    <div class="py-8 px-4 article-body">
      <slot />
    </div>
  </article>
</BaseLayout>

<style>
  article {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--color-background);
  }
  .article-head {
    background-color: var(--color-gray-50);
  }

  .article-body {
    max-width: 1024px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  svg {
    display: inline;
  }

  li > p,
  li > a {
    padding: var(--spacing-2) var(--spacing-3);
    border-radius: var(--border-radius-3);
    border: solid var(--color-gray-200) 2px;
    line-height: 1.5;
  }
  li a:hover {
    border-color: var(--color-primary-hover);
    color: var(--color-secondary-hover);
  }
</style>
